.projects-container {
    padding: 20px; 
}

.projects-heading {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    color: #333;
    margin: 0 0 20px;
}

.projects-description,.clients-description,.offer-description {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin: 0 0 20px;
    line-height: 1.6; 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0 15px; 
}

.project-carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; /* Set a fixed height for uniformity */
    padding: 20px; 
    box-sizing: border-box;   
}

.carousel-container {
    position: relative; 
    padding: 0 10px; /* Optional: add padding to the carousel container */
}

.project-image {
    width: 100%;
    height: 70%; /* Set height relative to parent */
    object-fit: cover; /* Maintain aspect ratio */
}

.project-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px; 
    color: #333;
    padding: 10px;
    margin: 0;
    text-align: center;
    flex-shrink: 0; 
}

.view-all-button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px; 
    font-size: 18px; 
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-all-button:hover {
    background-color: #555;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .projects-description {
        font-size: 16px; 
    }
}
