# dependencies
node_modules/

# environment variables
.env
.env.*

# logs
logs
*.log
npm-debug.log*

# runtime files
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# build folders
dist/
build/

# misc
.DS_Store

# IDE
.vscode/
.idea/
